@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+New:wght@700&display=swap");

.custom-font {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* メニューアイテムアニメーション */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.menu-item {
  animation: slideIn 0.5s ease forwards;
}

.wave-text {
  animation: wave 5s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
