@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Dela+Gothic+One&family=DotGothic16&family=Gloria+Hallelujah&family=Hina+Mincho&family=Mate+SC&family=Press+Start+2P&family=Roboto:wght@100;400&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Sriracha&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New:wght@700&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+New:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Dela+Gothic+One&family=DotGothic16&family=Gloria+Hallelujah&family=Hedvig+Letters+Serif:opsz@12..24&family=Hina+Mincho&family=Mate+SC&family=Potta+One&family=Press+Start+2P&family=Roboto:wght@100;400&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Sriracha&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New:wght@700&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&family=Gloria+Hallelujah&family=Mate+SC&family=Press+Start+2P&family=Roboto:wght@100;400&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Sriracha&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+New:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Dela+Gothic+One&family=DotGothic16&family=Gloria+Hallelujah&family=Hedvig+Letters+Serif:opsz@12..24&family=Hina+Mincho&family=Mate+SC&family=Press+Start+2P&family=Roboto:wght@100;400&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Sriracha&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New:wght@700&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&family=Gloria+Hallelujah&family=Press+Start+2P&family=Shippori+Mincho+B1:wght@800&family=Shizuru&family=Slackside+One&family=Stick&family=Trade+Winds&family=Yusei+Magic&family=Zen+Kaku+Gothic+New:wght@700&display=swap");

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.menu-item {
  animation: slideIn 0.5s ease forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
}

.shake-on-hover:hover {
  animation: shake 0.5s ease-in-out;
}
